<div class="mdl-layout-spacer"></div>

<footer class="mdl-mini-footer">
  <div class="mdl-mini-footer--left-section">
    Сделано с <i class="material-icons md-18 mdl-color-text--red">favorite</i> в Rambler & Co
  </div>
  <!--<div class="mdl-mini-footer&#45;&#45;right-section">-->
    <!--Rambler / Library-->
  <!--</div>-->
</footer>