<footer class="mdl-mini-footer">
  <div class="mdl-mini-footer--left-section">
    Сделано с <i class="material-icons md-18">favorite</i> в Rambler & Co
  </div>
  <div class="mdl-mini-footer--right-section">
    Rambler / Library
  </div>
</footer>