
<div class="paging">
    <% for (var i = 1; i <= pages; i++) {  %>
      <a href="?page=<%= i %>" class="mdl-chip">
        <span class="mdl-chip__text"><%= i %></span>
      </a>
    <% } %>
</div>
