
<div class="mb30 mt30">
  <div class="container">
    <div class="mdl-typography--headline">Здравствуй, <%= req.user.first_name %></div><br>
  </div>
  <br>
  <div class="container">
    Книги к возврату
  </div>

  <% for (var k in booksByDate) {  %>
    <div class="mdl-grid container">
      <div class="mdl-layout-spacer"></div>
      <h4><%= k %></h4>
      <div class="mdl-layout-spacer"></div>
    </div>

    <div class="mdl-grid container">
      <div class="mdl-layout-spacer"></div>
      <% _.forEach(booksByDate[k], function(book) {  %>
        <%- partial ('../partials/book.ejs', {book: book}) %>
      <% }); %>
      <div class="mdl-layout-spacer"></div>
    </div>
  <% } %>
</div>