
<div style="background-color: #fff">
<%= req.user ? req.user.username : '' %>
</div>

<br>

<div style="background-color: #fff">
  <% books.forEach(function(book) {  %>
    <%- partial ('partials/book.ejs', {book: book}) %>
  <% }); %>
</div>


<br>

<div style="background-color: #fff">
  <% for (var i = 1; i <= pages; i++) {  %>
  <a href="/?page=<%= i %>">
    <%= i %>
  </a>
  <% } %>
</div>


