<div class="b-auth-wrapper"></div>
<div class="b-auth">
  <div class="b-auth__container">
    <div class="logo"></div>
    <div class="b-auth__container-wrapper">
      <form action="/login" method="POST" autocomplete="off">
        <div class="b-auth__container-input">
          <input type="text" autocomplete="off" name="username" placeholder="LDAP пользователь"/>
        </div>
        <div class="b-auth__container-input">
          <input type="password" autocomplete="off" name="password" placeholder="LDAP пароль"/>
        </div>
        <div class="b-auth__container-button">
          <button type="submit">Войти</button>
        </div>
      </form>
    </div>
  </div>
</div>