<%- partial('partials/search.ejs') %>

<div style="background-color: #fff">
  <% if (typeof result !== 'undefined') { %>
    <% result.forEach(function(book) {  %>
      <%- partial('partials/book.ejs', {book: book}) %>
    <% }); %>
  <% } %>
</div>