<div class="mdl-grid container">
  <div class="mdl-cell mdl-cell--12-col">
  <%- partial('partials/search.ejs') %>
  </div>
</div>

<div class="mdl-grid container">
  <div class="mdl-layout-spacer"></div>
  <% if (typeof result !== 'undefined') { %>
    <% result.forEach(function(book) {  %>
      <%- partial('partials/book.ejs', {book: book}) %>
    <% }); %>
  <% } %>
  <div class="mdl-layout-spacer"></div>
</div>
<br>

<div class="container">
  <%- partial ('partials/paging.ejs', {pages: pages}) %>
</div>
<br>
<br>