
@import 'blocks/vars'
@import 'blocks/global'

@import 'blocks/book'



.mdl-layout__content
  display -webkit-flex
  display -ms-flexbox
  display flex
  -webkit-flex-flow column nowrap
  -ms-flex-flow column nowrap
  flex-flow column nowrap

.mdl-layout__content > *:not(.mdl-layout-spacer)
  -webkit-flex none
  -ms-flex none
  flex none

.mdl-layout__header .mdl-layout-title
  text-decoration none
  color rgb(66,66,66)

.page-home .search
  background-image url('~_images/bg.jpg')
  background-position bottom center
  background-size cover
  height 500px

.search__form
  margin-top 80px

.search__form .mdl-typography--display-3
  font-weight 100

.text-center
  text-align center

.card-square .mdl-card__title-text
  font-size 18px

.page-auth .mdl-layout
  align-items center
  justify-content center

.page-auth .mdl-layout__content
  padding 24px
  flex none

.mdl-layout__header
  background-color #eae6e9


.block-relative
  position relative

.container
  max-width 1024px
  padding 0
  display -webkit-flex
  display -ms-flexbox
  display flex
  width 100%
  margin 0 auto
  -webkit-flex-shrink 0
  flex-shrink 0

.paging .active
  background-color #fff

.mdl-card__media
  padding 16px 24px

.site-back
  position absolute
  top 16px
  left 16px
  color rgb(66, 66, 66)
  z-index 9999

#fly-btn
  position fixed
  display block
  right 0
  bottom 0
  margin-right 40px
  margin-bottom 40px
  z-index 900